table {
    border-collapse: collapse;
    border: 0;
}

th, td {
    padding: 0.6rem;
    text-align: left;
    margin: 0;
    min-width: 3rem;
}

thead {
    background-color: lightgray;
}

#list_count {
    font-size: 13px;
    padding: 2rem;
    text-align: left;
}

#list_search {
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 1rem 50rem 0 0;
}

#page_link {
    /*text-align: center;*/
    padding: 0 0 0 15rem;
}

input, select{
    margin: 0.3rem;
    padding: 0.3rem;
    min-width: 10rem;
}
button {
    margin: 2rem;
    min-width: 7rem;
}
