
/*테이블과 cell사이의 테두리 간격을 없엔다.*/
table {
    border-collapse: collapse;
    border: 0;
}

/*border - 테두리에 선을 그어준다*/
th, td {
    border: 1px solid gray;
    /*background-clip: padding-box;*/
    /*scroll-snap-align: start;*/

    padding: 0.6rem;
    text-align: left;
    margin: 0;
}
/*padding - 안쪽 여백 생성*/
/*margin - 바깥쪽 여백 생성*/
/*min-width - 최소 가로 길이*/
/*text-align: text 정렬 기준*/

th {
    min-width: 6rem;
    background-color: lightgray;
}
td {
    min-width: 50rem;
}

input, select{
    margin: 0.3rem;
    padding: 0.3rem;
    min-width: 13rem;
}
